@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplatesEditModel

@{
    Layout = "_VirtualTemplatesRoot.cshtml";
}

<div class="panel-body" id="codeContainer">

    @using (Html.BeginForm())
    {
        <p>
            <button type="submit" value="Save" class="btn btn-sm btn-success">@Html.TranslateFallback("/virtualtemplatesystem/buttons/save", "Save")</button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">Cancel</a>
            @Html.ActionLink(Html.TranslateFallback("/virtualtemplatesystem/buttons/compare", "Compare"), "Compare", new { VirtualPath = @Model.VirtualPath, ShowAllTemplates = @Model.ShowAllTemplates }, new { @class = "btn btn-sm btn-default" })
        </p>

        @Html.HiddenFor(m => Model.VirtualPath)
        <div class="panel panel-default code-wrapper">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.VirtualPath</h3>
            </div>

            <div class="panel-body" id="codepanel">@Html.TextAreaFor(m => Model.TemplateContents)</div>

        </div>
        @Html.HiddenFor(m => Model.TemplateContents)
    }

</div>

<script>
    function getModeByFileExtension(path){
        var modelist = ace.require("ace/ext/modelist");
        return modelist.getModeForPath(path).mode;
    }

    var filename = "@Model.VirtualPath";
    var editor = ace.edit("codepanel");
    var mode = getModeByFileExtension(filename);
    ace.require(mode);
    editor.setOptions({
        fontSize: "12px"
    });
    editor.session.setMode(mode);
    editor.getSession().on('change', function (e) {
        document.getElementById("TemplateContents").value = editor.getValue();
    });
</script>