@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplatesEditModel

@{
    Layout = "_VirtualTemplatesRoot.cshtml";
}

@Html.Raw(EPiServer.Shell.Navigation.MenuHelper.CreateGlobalMenu("/global", "/global/templates/edit"))
<div class="panel-body">

    @using (Html.BeginForm())
    {
        <p>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">Cancel</a>
            <button type="submit" value="Save" class="btn btn-sm btn-success">@Html.TranslateFallback("/virtualtemplatesystem/buttons/save", "Save")</button>
        </p>

        @Html.HiddenFor(m => Model.VirtualPath)
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="panel-title">@Model.VirtualPath</h3>
            </div>
            <div class="panel-body" id="codepanel" style="height:100vh; width:100vh;">

                @Html.TextAreaFor(m => Model.TemplateContents, new { @style = "height:100vh;width:100vh;" })

            </div>
        </div>
    }

</div>

<script language="javascript">


    var templateText = document.getElementById('TemplateContents');

    var myCodeMirror = CodeMirror.fromTextArea(templateText, {
        value: "function myScript(){return 100;}\n",
        lineNumbers: true,
        readonly: false,
        mode: "javascript"
    });

</script>