<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Virtual Templates System</title>

    @Html.Raw(EPiServer.Framework.Web.Resources.ClientResources.RenderResources("ShellCore"))
    @Html.Raw(EPiServer.Framework.Web.Resources.ClientResources.RenderResources("ShellWidgets"))
    @Html.Raw(EPiServer.Framework.Web.Resources.ClientResources.RenderResources("ShellCoreLightTheme"))
    @Html.Raw(EPiServer.Framework.Web.Resources.ClientResources.RenderResources("Navigation"))
    @Html.Raw(EPiServer.Framework.Web.Resources.ClientResources.RenderResources("DojoDashboardCompatibility"))

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-modelist.js"></script>

    <style>
        body > #codeContainer {
            height: calc(100vh - 100px);
        }

        body > .panel-body .panel-body {
            height: calc(100vh - 175px);
        }

        /*.panel-body {
            height: 90%;
        }

        .panel-body form {
            height: 90%;
        }

        .panel-body form .panel-default {
            height: calc(100% - 100px);
        }

        #codepanel {
            height: 100vh;
        }*/

        .CodeMirror {
            height: calc(100%);
        }

        .code-wrapper {
            margin-bottom: 0px;
        }

    /*.CodeMirror {
            height: 100vh;
        }*/
    </style>
</head>

<body>
    @RenderBody()
</body>
</html>
